* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background: url(.\src\asset\bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--txt-color);

  /* display: flex; */
  justify-content: center;
  /* padding-top: 100px; */

  height: 100vh;
}

.box {
  width: 50vw;
  margin: 0px auto;
  margin-top: 80px;
  /* background-color: var(--box-bg); */
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(100%) blur(3px);
  padding: 100px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.nsvBtn {
  margin-right: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div {
  margin-top: 150px;
  text-align: center;
  color: white;
}

.div > .button {
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #ffffff;
  background: #4fd1c5;
  background: linear-gradient(90deg, #000000 0%, rgba(116 27 13) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #8b1621;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px 50px;
}

.div > .button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #cb2f34;
  box-shadow: 0 0 60px #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

/* upload css */

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.fcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

::selection {
  color: #fff;
  background: #ffffff;
}

.wrapper {
  width: 600px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: saturate(180%) blur(5px);
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
}

.wrapper header {
  color: #ffffff;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.wrapper form {
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #acacac;
}

form :where(i, p) {
  color: #ffffff;
}

form i {
  font-size: 50px;
}

form p {
  margin-top: 15px;
  font-size: 16px;
}

section .row {
  margin-bottom: 10px;
  background: #e9f0ff;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .row i {
  color: #6990f2;
  font-size: 30px;
}

section .details span {
  font-size: 14px;
}

.progress-area .row .content {
  width: 100%;
  margin-left: 15px;
}

.progress-area .details {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}

.progress-area .content .progress-bar {
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.content .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: #6990f2;
  border-radius: inherit;
}

.uploaded-area {
  max-height: 232px;
  overflow-y: scroll;
}

.uploaded-area.onprogress {
  max-height: 150px;
}

.uploaded-area::-webkit-scrollbar {
  width: 0px;
}

.uploaded-area .row .content {
  display: flex;
  align-items: center;
}

.uploaded-area .row .details {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}

.uploaded-area .row .details .size {
  color: #404040;
  font-size: 11px;
}

.uploaded-area i.fa-check {
  font-size: 16px;
}

.grid_tiles {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* viwe video design */

#videoContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#videoInput {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(201, 45, 76);
}

#videoInput::file-selector-button {
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  border: thin solid rgb(0, 0, 0);
  background-color: #2a2a41;
  border-radius: 9px;
}
